.moviePoster {

    &__img {
        margin: 0 .3rem;
        max-width: 18rem;
        width: 100%;
        border-radius: .3rem;

        cursor: pointer;

        &:hover {
            scale: 107%;
            transition: transform 450ms;
        }
    }
}