
.loginregister {
    // position: relative;
    // height: 100vh
}

.loginregister__header {
    justify-content: space-between;
    align-items: center;

    .loginregister__logo {
        width: 9rem;
    }

    .loginregister__button-login {
        background-color: red;
    }
}