.movieRow {

    &__title {
        margin-left: .5rem;
        margin-bottom: 1rem;
    }

    &__row {
        height: 11.5rem;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    &__arrow {
        position: absolute;
        top: 4.5rem;
        bottom: 0rem;
        width: 3rem;
        height: 3rem;
        
        color: white;
        cursor: pointer;
        z-index: 999;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    button {
        border: none;
        background: none;
    }

}

