.movieRow {
    width: 100%;

    &__title {
        margin-bottom: 1rem;
        margin-left: .5rem;
    }

    &__row {
        display: flex;
        width: max-content;
        overflow-y: hidden;
        overflow-x: scroll;

        transition: all 1s ease;
        transform: translateX(0);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__arrow {
        position: absolute;
        top: 5rem;
        bottom: 0;
        width: 3rem;
        height: 3rem;
        
        color: white;
        cursor: pointer;
        z-index: 999;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    button {
        border: none;
        background: none;
    }

}