@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(10, 10, 10);
  color: white;
}

input {
  font-size: 0.9rem;
}

a {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  scale: 105%;
}

ul {
  list-style: none;
  font-size: 0.9rem;
}

li {
  color: white;
  cursor: pointer;
}
li:hover {
  scale: 105%;
}

h1 {
  font-size: 5.4rem;
}

button {
  font-size: 1.4rem;
}

.flex {
  display: flex;
}
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.button {
  padding: 0.5rem 1.4rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}
.button--red {
  padding: 0.5rem 1.4rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}
.button--white {
  font-size: 1.1rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button, .button--red, .button--white {
    padding: 0.25rem 0.65rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }
  p {
    font-size: 1rem;
  }
  button {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 0.9rem;
  }
  button {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
}
.section {
  padding: 3rem 3.5rem;
}
@media screen and (max-width: 576px) {
  .section {
    padding: 1.5rem;
  }
}
.section--header {
  padding: 0rem 3rem;
}
@media screen and (max-width: 768px) {
  .section--header {
    padding: 0 1rem;
  }
}
.section--rows {
  padding: 1.3rem 1rem 1.3rem 3rem;
}
@media screen and (max-width: 768px) {
  .section--rows {
    padding: 1rem;
    padding-right: 0;
  }
}

.login {
  background-image: url("../assets/login background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
.login__logo {
  position: absolute;
  width: 10rem;
  top: 0.6rem;
  left: 1.2rem;
  cursor: pointer;
}
.login__form {
  flex-direction: column;
  max-width: 21rem;
  width: 100%;
  padding: 2.5rem;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.9);
}
.login__title {
  margin-bottom: 1rem;
}
.login input {
  padding: 0.7rem 1rem;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  background-color: rgb(54, 54, 54);
  color: rgb(224, 224, 224);
  border: none;
}
.login__button-signin {
  margin-top: 2rem;
  font-size: 0.9rem;
}
.login__button-signup {
  margin-top: 5rem;
  text-align: start;
  font-size: 0.9rem;
}

.register {
  background-image: url("../assets/login background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
.register__logo {
  position: absolute;
  top: 0.6rem;
  left: 1.2rem;
  width: 10rem;
  cursor: pointer;
}
.register__button-signin {
  position: absolute;
  top: 3rem;
  right: 3rem;
}
.register__content {
  max-width: 57rem;
  width: 100%;
  padding: 0 1rem;
}
.register__title {
  text-align: center;
  margin-bottom: 1rem;
}
.register__title h3 {
  font-weight: 400;
}
.register__form {
  flex-direction: column;
  gap: 1rem;
}
.register__form input {
  max-width: 70%;
  width: 100%;
  height: 2rem;
  padding-left: 2rem;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  border: none;
}
.register__button-getstarted {
  width: 35%;
  height: 2.5rem;
  margin-top: 1rem;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 0;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  z-index: 999999;
}
.header .header__nav {
  display: flex;
  justify-content: space-between;
}

.header__leftSide .header__logo {
  width: 8rem;
  cursor: pointer;
}
.header__leftSide .header__list li {
  margin: 0 1rem;
}
.header__leftSide .header__list li:first-child {
  font-weight: 600;
}
.header__leftSide .header__mobile-toggle {
  position: relative;
  display: none;
  margin-left: 0.4rem;
  font-size: 0.9rem;
  color: white;
}
@media screen and (max-width: 1200px) {
  .header__leftSide .header__mobile-toggle {
    display: block;
  }
}
.header__leftSide .header__mobile-list {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 5rem;
  left: 3.7rem;
  padding: 0 5.5rem;
  background: rgba(0, 0, 0, 0.9);
  border-top: 0.125rem solid white;
  text-align: center;
}
.header__leftSide .header__mobile-list li {
  margin: 1.5rem 0;
}
@media screen and (max-width: 576px) {
  .header__leftSide .header__mobile-list {
    left: 1.7rem;
    padding: 0 3rem;
  }
  .header__leftSide .header__mobile-list li {
    margin: 1rem 0;
  }
}

.header__rightSide .header__search {
  position: relative;
}
.header__rightSide .header__search .header__searchbar {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}
.header__rightSide .header__search .header__input {
  position: absolute;
  right: 3rem;
  width: 18rem;
  padding: 0.3rem 1rem;
  border: 0.0625rem solid white;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  transition: 0.5s ease-in-out;
  z-index: 999;
}
.header__rightSide .header__search .header__input::-moz-placeholder {
  color: white;
}
.header__rightSide .header__search .header__input::placeholder {
  color: white;
}
@media screen and (max-width: 768px) {
  .header__rightSide .header__search .header__input {
    width: 12rem;
  }
}
@media screen and (max-width: 576px) {
  .header__rightSide .header__search .header__input {
    width: 8rem;
  }
}
.header__rightSide .header__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.header__rightSide .header__button-signin {
  margin: 0 1rem;
}
@media screen and (max-width: 768px) {
  .header__rightSide .header__button-signin {
    margin: 0 0.3rem;
  }
}

/* hide serachbar */
.hideInput {
  width: 0;
  border: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/* show mobile nav */
.show__mobile-nav {
  display: block;
}

/* black header on scroll */
.header__black {
  background-color: black;
}

.banner {
  padding-top: 16rem;
  height: 100vh;
}
.banner__title {
  max-width: 45rem;
}
.banner__description {
  max-width: 35em;
  font-weight: 600;
  margin-bottom: 2rem;
}
.banner__btns {
  display: flex;
}
.banner__btns-informations {
  margin-left: 0.8rem;
  color: white;
  background-color: rgb(114, 114, 114);
}
.banner__icons {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.movieRow {
  width: 100%;
}
.movieRow__title {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.movieRow__row {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  overflow-y: hidden;
  overflow-x: scroll;
  transition: all 1s ease;
  transform: translateX(0);
}
.movieRow__row::-webkit-scrollbar {
  display: none;
}
.movieRow__wrapper {
  position: relative;
}
.movieRow__arrow {
  position: absolute;
  top: 5rem;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  color: white;
  cursor: pointer;
  z-index: 999;
}
.movieRow__arrow.left {
  left: 0;
}
.movieRow__arrow.right {
  right: 0;
}
.movieRow button {
  border: none;
  background: none;
}

.moviePoster__img {
  margin: 0 0.3rem;
  max-width: 18rem;
  width: 100%;
  border-radius: 0.3rem;
  cursor: pointer;
}
.moviePoster__img:hover {
  scale: 107%;
  transition: transform 450ms;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__socials {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.footer svg {
  margin: 0 0.8rem;
  cursor: pointer;
}
.footer svg:hover {
  scale: 105%;
}
.footer__links {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.footer__links-row {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__links p {
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .footer__links {
    gap: 1rem;
  }
}/*# sourceMappingURL=App.css.map */